<div class="modal-header">
  <h4 class="modal-title">Register here</h4>
</div>
<div class="modal-body">
  <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name: </label>
      <input type="text" id="name" name="name" formControlName="name" class="form-control">
      <label for="number">Number: </label>
      <input type="text" id="number" name="name" formControlName="number" class="form-control">
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">Submit</button>
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
  </form>
</div>